{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class='container'>
<div class='text-left'>
        <h1 class='section-heading text-uppercase'>Update ingredients for:  {{recipe.RecipeTitle}}</h1>
</div>   
</div>
<div class='container'>
    <div class='text-left'>
            <h1 class='section-heading text-uppercase'>Add Ingredient</h1>
    </div>
    
        <form name="form" method="post" action="{% url 'saveNewIngredient' %}">
            {% csrf_token %}
            
    
            <label for='name'>Ingredient Name:</label>
            <input type="text" name='name' id='name' value='{{ingredient.IngredientName}}'>
            <br><br>
            <button type="submit">Add Ingredient</button>
        </form>   

</div>
{%endblock%}