{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class='container'>
<div class='text-left'>
        <h1 class='section-heading text-uppercase'>Update ingredients for:  {{recipe.RecipeTitle}}</h1>
</div>
{%for ingredient in ing%} 
    <p>{{ingredient.amount}} {{ingredient.name}}</p>
    <form name="form" method="post" action="{% url 'updateIng' %}">
        {% csrf_token %}
        <input type = 'hidden' id='ing_id' name = 'ing_id' value = '{{ingredient.id}}'>
        <label for='name'>Ingredient Name:</label>
        <input type="text" name='name' id='name' value='{{ingredient.IngredientName}}'>
        <br><br>
        <button type="submit">SAVE INGREDIENT</button>
    </form>
{%endfor%}
    
<div class='container'>
    <div class='text-left'>
            <h1 class='section-heading text-uppercase'>Add Ingredient</h1>
    </div>
    
        <form name="form" method="post" action="{% url 'addIng' %}">
            {% csrf_token %}
            <input type = 'hidden' id='ing_id' name = 'ing_id' value = '{{ingredient.id}}'>
    
            <label for='name'>Ingredient Name:</label>
            <input type="text" name='name' id='name' value='{{ingredient.IngredientName}}'>
            <br><br>
            <button type="submit">ADD INGREDIENT</button>
        </form>
    
    
    
{%endblock%}