{%extends 'base.html'%}
{% load static%}
{% block content %} 
<div>
    <h1>Edit Recipe</h1>
</div>
<br>
<form name="form" method="post" action="{% url 'updateRec' %}">
    {% csrf_token %}
    <input type='hidden' id='rec_id' name='rec_id' value='{{rcp.id}}'>

    <label for='title'>Recipe Name:</label>
    <input type="text" name='title' id='title' value='{{rcp.RecipeTitle}}' autofocus>
    <br><br>
    <label for='preparation'>Preperation:</label>
    <input type="text" name='preparation' id='praperation' value='{{rcp.Preparation}}'>
    <br><br>
    <label for='notes'>Notes:</label>
    <input type="text" name='notes' id='notes' value='{{rcp.Notes}}'>
    <br><br>
    <button type="submit">Update</button>
</form>






<div>
    <h1>Add Recipe</h1>
</div>
<br>
<form name="form" method="post" action="{% url 'addRecipe' %}">
    {% csrf_token %}

    <label for='title'>Recipe Name:</label>
    <input type="text" name='title' id='title' autofocus>
    <br><br>
    <label for='preparation'>Preperation:</label>
    <input type="text" name='preparation' id='preparation'>
    <br><br>
    <label for='notes'>Notes:</label>
    <input type="text" name='notes' id='notes'>
    <br><br>
    <button type="submit">Add</button>
</form>


{% endblock %}
