{%extends 'base.html'%}
{% load static%}
{% block content%}

<div>
    <h1>
        {% comment %} grabs the recipie title {% endcomment %}
        {{rec.RecipeTitle}}
    </h1>
</div>
<div>
    {% comment %} Lists the ingredients in the recipie {% endcomment %}
    <p>Current Ingredients in Recipe</p>
    {% for recipeIngredient in recIng %}
        <p>{{recipeIngredient.IngredientID}}</p>
    {% endfor %}
</div>
<div>
    <p>Add Ingredient:</p>
</div>
{% comment %} creates a form that allows you to add a created ingredient {% endcomment %}
<form name="form" method="post" action="{% url 'addRecIng' %}">
    {% csrf_token %}
    <input type='hidden' id='rec_id' name='rec_id' value='{{rec.id}}'>
    {% for ingredient in ing %}
    <label for='ingredient'>{{ingredient.IngredientName}}:</label>
    <input type="checkbok" name='ingredient' id='ingredient' value='{{rcp.RecipeTitle}}' autofocus>
    <br><br>
    {% endfor %}
    <button type="submit">Update</button>
</form>

{%endblock%}